div {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.gray {
  background-color: grey;
  height: 100vh;
}
.white {
  background-color: white;
  height: 87vh;
}
.blue {
  background-color: blue;
  height: 52vh;
}
.teal {
  background-color: teal;
  height: 39vh;
}
.green {
  background-color: green;
  height: 26vh;
}
.yellow {
  background-color: yellow;
  height: 13vh;
}
p {
  box-sizing: border-box;
  padding: 100px 400px 100px 400px;
}
.box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 1vh;
  left: 1vw;
  background-color: blue;
}
